.section-team {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--color-ghostWhite);

  @media screen and(min-width: 1200px) {
  padding-top: 94px;
  padding-bottom: 94px;
  }
}
.section-team__title {
  text-align: center;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--color-veryDark);

  @media screen and(min-width:1200px) {
    font-size: 36px;
}
}
.team-member-list {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 margin-top: 30px;

  gap: 30px;

  @media screen and(min-width:1200px) {
    margin-top: 50px;
}
}
.member-block {
padding-top: 30px;
 padding-bottom: 30px;
}
.member-block__member-name {
 text-align: center;

font-weight: 500;
 font-size: 16px;
  line-height: 1.2;
letter-spacing: 0.03em;
 color: var(--color-veryDark);
}
.member-block__member-position {
 margin-top: 10px;
 text-align: center;

 font-size: 16px;
 line-height: 1.2;
 color: var(--color-lightGray);
}

.member-card {
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
 border-radius: 0px 0px 4px 4px;
 background-color: var(--color-mainWhite);
}
