:root {
  --color-mainBlue: #2196f3;
  --color-mainBlack: #000000;
  --color-lightGray: #757575;
  --color-darckGray: #2f303a;
  --color-mainWhite: #ffffff;
  --color-veryDark: #212121;
  --color-greatLight: #eeeeee;
  --color-ghostWhite: #f5f4fa;
  --color-ghostWhite1: #ececec;
  --color-middleGrey: #afb1b8;
  --color-ghostWhite2: #f5f5f5;
}
